@charset "UTF-8";

body {
    max-width: 100%;
    height: 100%;
}

main {
    padding: 20px 10px;
    height: 50vh;
    background-color: var(--fourth-color);

    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
}

main h2{
    font-size: 5rem;
    line-height: 50px;
}



